@use "../../styles/abstracts/" as *;
@use "../../styles/global/paragraphs";
.CookieConsent {
  .cookie-wrap {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem 0;
  }

  p {
    @extend .p-two;
    color: $whiteColor;
    margin-bottom: 0;
  }

  a {
    @extend .p-two;
    color: $whiteColor;

    &:hover {
      color: $blackColor;
    }
  }
}
