@use "../styles/abstracts/" as *;
@use "../styles/global/paragraphs";

.main-footer {
  .delivery {
    position: relative;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 4.1rem;
    padding-bottom: 4.8rem;

    &-link {
      width: 100%;

      @media (min-width: 768px) {
        width: 20rem;
      }
    }

    &-skip {
      &-wrap {
        max-width: 9rem;
      }
    }

    &-uber {
      &-wrap {
        max-width: 12.5rem;
      }
    }

    &-door {
      &-wrap {
        max-width: 20rem;
      }
    }

    &-oil {
      position: absolute;
      top: -2rem;
      right: 0;
      width: 17.5rem;
      z-index: -1;
    }
  }

  .contact {
    width: 100%;
    padding: 4.5rem 0;
    background-color: #000;

    &-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    &-information {
      width: calc(100%);

      @media (min-width: 768px) {
        width: calc(75%);
      }

      p {
        @extend .p-one;
        margin-bottom: 0;
        color: $whiteColor;

        a {
          @extend .p-one;
          margin-bottom: 0;
          color: $whiteColor;
        }
      }
    }

    &-social {
      width: calc(100%);
      text-align: center;

      @media (min-width: 768px) {
        width: calc(25%);
      }

      a {
        display: inline-block;
        max-width: 4rem;
      }
    }
  }
}
